.frames-container {
	display: flex;
	margin: 10px;
}

.frame {
	display: grid;
	grid-template-rows: 50% 50%;
	grid-template-columns: 50% 50%;
	width: 100px;
	height: 100px;
	border: 1px black solid;
	margin-right: -1px;
}

.turn-two {
	border: 1px black solid;
	margin: -1px;
}
